__pycache__/
.DS_Store
*.pyc
.pytest_cache

src/ncs/workingfile.cnf
src/ncs/gophersat.exe
src/ncs_relaxed/gophersat.exe
model.ilp
src/ncs_relaxed/workingfile.wcnf
src/ncs/workingfile_relaxed.wcnf
src/ncs/gophersat
